<footer class="bg-dark text-light text-center py-2 position-relative">
	<div class="container">
		<a href="#top" class="icon-outside-footer">
			<i class="bi bi-arrow-up-circle text-primary fs-1"></i>
		</a>
		<p class="pt-4">&copy; 2023 Comics Collection. Tous droits réservés. Made with
			<i class="bi bi-heart text-primary"></i>
			by
			<a href="https://micheldufour.fr" class="text-light" target="_blank">Michel Dufour</a>
		</p>
		<p>
			<a href="#" class="text-light">Mentions légales</a>
			|
			<a href="#" class="text-light">Politique de confidentialité</a>
			|
			<a href="#" class="text-light">Contact</a>
			|
			<a href="{{ path('admin_dashboard') }}" class="text-secondary">
				<i class="bi bi-power"></i>
			</a>
		</p>
	</div>
</footer>
